@font-face {
  font-family: "Pathway Gothic One";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PathwayGothicOne-Regular.eot");
  src: url("../fonts/PathwayGothicOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PathwayGothicOne-Regular.woff") format("woff"), url("../fonts/PathwayGothicOne-Regular.woff2") format("woff2"), url("../fonts/PathwayGothicOne-Regular.ttf") format("truetype"), url("../fonts/PathwayGothicOne-Regular.svg#Circe") format("svg"); }
